<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <p-panel header="{{ appName }}">
                <p-tabView>
                    <p-tabPanel header="Должностей">
                        <p-dataTable emptyMessage="нет данных" [value]="sprDolgnTab" [globalFilter]="gb" selectionMode="single"
                            [(selection)]="curDolgn" (onRowSelect)="onDolgnRowSelect($event)" [rows]="25"
                            [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,25,50]">
                            <p-column header="Наименование должности" field="name_dolgn" [style]="
                                {'width':'60%','text-align':'left','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Код должности" field="id_dolgn" [style]="
                                {'width':'10%','text-align':'right','font-size':'14px','white-space':'normal'}">
                            </p-column>
                            
                            <p-column header="Интерфейс в программе" field="name_role" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Должность актуальна" field="actual" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-dolgn="rowData" pTemplate="body">
                                    <span>{{getParName(dolgn[col.field])}}</span>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Сотрудников">
                        Справочник сотрудников
                    </p-tabPanel>
                    <p-tabPanel header="Складов">
                        Справочник складов
                    </p-tabPanel>
                    <p-tabPanel header="Операций">
                        Справочник операций
                    </p-tabPanel>
                    <p-tabPanel header="Едениц измерения">
                        Справочник едениц измерения
                    </p-tabPanel>
                    <p-tabPanel header="Номенклатуры">
                        Справочник номенклатуры
                    </p-tabPanel>
                </p-tabView>

                <p-dialog header={{headerDolgn}} [(visible)]="displayDialogDolgn" [responsive]="true" showEffect="fade" [modal]="true"
                    [style]="{'min-width':'600','max-height':'800','overflowY':'scroll'}">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="curDolgn">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Название должности</label></div>
                            <div class="ui-grid-col-8"><input pInputText [(ngModel)]="curDolgn.name_dolgn" /></div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Интерфейс в программе</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'150'}" [options]="roles" [(ngModel)]="curDolgn.id_role"></p-dropdown>
                            </div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Должность актуальна</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsYesNo" [(ngModel)]="curDolgn.actual"></p-dropdown>
                            </div>
                        </div>
                        <br><br><br><br><br><br>
                    </div>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-check" (click)="SaveDolgn()" label="Сохранить"></button>
                        </div>
                    </footer>
                </p-dialog>

            </p-panel>
        </div>
    </div>
</div>

<p-growl [value]="msgs" [life]="10000"></p-growl>
<p-blockUI [blocked]="blockedDocument"></p-blockUI>