<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <p-panel header="{{ appName }}">
                <p-tabView>
                    <p-tabPanel header="Должностей">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-8"><p-checkbox label="Показывать неактуальные" [(ngModel)]="showNotActualDolgn" binary="true" (onChange)="reloadSprDolgnTab()"></p-checkbox></div>
                            <div class="ui-grid-col-8"><button type="button" pButton icon="fa-plus" (click)="addDolgn()" label="Добавить"></button></div>
                        </div>
                        <br>
                        <p-dataTable emptyMessage="нет данных" [value]="sprDolgnTab" [globalFilter]="gb" selectionMode="single"
                            [(selection)]="curDolgn" (onRowSelect)="onDolgnRowSelect($event)" [rows]="25"
                            [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,25,50]">
                            <p-column header="Наименование должности" field="name_dolgn" [style]="
                                {'width':'60%','text-align':'left','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Код должности" field="id_dolgn" [style]="
                                {'width':'10%','text-align':'right','font-size':'14px','white-space':'normal'}">
                            </p-column>
                            
                            <p-column header="Интерфейс в программе" field="id_role" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-sotr="rowData" pTemplate="body">
                                    <span>{{getRoleName(sotr[col.field])}}</span>
                                </template>
                            </p-column>

                            <p-column header="Должность актуальна" field="actual" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-dolgn="rowData" pTemplate="body">
                                    <span>{{getParName(dolgn[col.field])}}</span>
                                </template>
                            </p-column>
                        </p-dataTable>

                    </p-tabPanel>
                    <p-tabPanel header="Сотрудников">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-8"><p-checkbox label="Показывать уволенных" [(ngModel)]="showNotActualSotr" binary="true" (onChange)="reloadSprSotrTab()"></p-checkbox></div>
                            <div class="ui-grid-col-8"><button type="button" pButton icon="fa-plus" (click)="addSotr()" label="Добавить"></button></div>
                        </div>
                        <br>
                        <p-dataTable emptyMessage="нет данных" [value]="sprSotrTab" [globalFilter]="gb" selectionMode="single"
                            [(selection)]="curSotr" (onRowSelect)="onSotrRowSelect($event)" [rows]="25"
                            [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,25,50]">
                            <p-column header="ФИО сотрудника" field="name_sotr" [style]="
                                {'width':'60%','text-align':'left','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Дата рождения" field="birth" [style]="
                                {'width':'10%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-sotr="rowData" pTemplate="body">
                                    <span>{{formatDateLoc(sotr[col.field],"dd.mm.yyyy")}}</span>
                                </template>
                            </p-column>
                            
                            <p-column header="Номер телефона" field="phone" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Занимаемая должность" field="id_dolgn" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-sotr="rowData" pTemplate="body">
                                    <span>{{getDolgnName(sotr[col.field])}}</span>
                                </template>
                            </p-column>

                            <p-column header="Текущий статус" field="status" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-sotr="rowData" pTemplate="body">
                                    <span>{{getParName(sotr[col.field])}}</span>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Складов">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-8"><p-checkbox label="Показывать неактуальные" [(ngModel)]="showNotActualSkl" binary="true" (onChange)="reloadSprSklTab()"></p-checkbox></div>
                            <div class="ui-grid-col-8"><button type="button" pButton icon="fa-plus" (click)="addSkl()" label="Добавить"></button></div>
                        </div>
                        <br>
                        <p-dataTable emptyMessage="нет данных" [value]="sprSklTab" [globalFilter]="gb" selectionMode="single"
                            [(selection)]="curSkl" (onRowSelect)="onSklRowSelect($event)" [rows]="25"
                            [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,25,50]">
                            <p-column header="Наименование склада" field="name_skl" [style]="
                                {'width':'60%','text-align':'left','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Код склада" field="id_skl" [style]="
                                {'width':'10%','text-align':'right','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Склад актуален" field="actual" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-skl="rowData" pTemplate="body">
                                    <span>{{getParName(skl[col.field])}}</span>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Операций">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-8"><p-checkbox label="Показывать неактуальные" [(ngModel)]="showNotActualOper" binary="true" (onChange)="reloadSprOperTab()"></p-checkbox></div>
                            <div class="ui-grid-col-8"><button type="button" pButton icon="fa-plus" (click)="addOper()" label="Добавить"></button></div>
                        </div>
                        <br>
                        <p-dataTable emptyMessage="нет данных" [value]="sprOperTab" [globalFilter]="gb" selectionMode="single"
                            [(selection)]="curOper" (onRowSelect)="onOperRowSelect($event)" [rows]="25"
                            [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,25,50]">
                            <p-column header="Наименование операции" field="name_oper" [style]="
                                {'width':'60%','text-align':'left','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Код операции" field="id_oper" [style]="
                                {'width':'10%','text-align':'right','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Требуется контроль качества" field="need_kk" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-oper="rowData" pTemplate="body">
                                    <span>{{getParName(oper[col.field])}}</span>
                                </template>
                            </p-column>

                            <p-column header="Операция актуальна" field="actual" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-oper="rowData" pTemplate="body">
                                    <span>{{getParName(oper[col.field])}}</span>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Едениц измерения">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-8"><p-checkbox label="Показывать неактуальные" [(ngModel)]="showNotActualEdizm" binary="true" (onChange)="reloadSprEdizmTab()"></p-checkbox></div>
                            <div class="ui-grid-col-8"><button type="button" pButton icon="fa-plus" (click)="addEdizm()" label="Добавить"></button></div>
                        </div>
                        <br>
                        <p-dataTable emptyMessage="нет данных" [value]="sprEdizmTab" [globalFilter]="gb" selectionMode="single"
                            [(selection)]="curEdizm" (onRowSelect)="onEdizmRowSelect($event)" [rows]="25"
                            [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,25,50]">
                            <p-column header="Наименование еденицы измерения" field="name_edizm" [style]="
                                {'width':'60%','text-align':'left','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Код еденицы измерения" field="id_edizm" [style]="
                                {'width':'10%','text-align':'right','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Еденица измерения актуальна" field="actual" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-edizm="rowData" pTemplate="body">
                                    <span>{{getParName(edizm[col.field])}}</span>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Номенклатуры">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-8"><p-checkbox label="Показывать неактуальные" [(ngModel)]="showNotActualNomen" binary="true" (onChange)="reloadSprNomenTab()"></p-checkbox></div>
                            <div class="ui-grid-col-8"><button type="button" pButton icon="fa-plus" (click)="addNomen()" label="Добавить"></button></div>
                        </div>
                        <br>
                        <p-dataTable emptyMessage="нет данных" [value]="sprNomenTab" [globalFilter]="gb" selectionMode="single"
                            [(selection)]="curNomen" (onRowSelect)="onNomenRowSelect($event)" [rows]="25"
                            [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,25,50]">
                            <p-column header="Наименование номенклатуры" field="name_nomen" [style]="
                                {'width':'60%','text-align':'left','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Код номенклатуры" field="id_nomen" [style]="
                                {'width':'10%','text-align':'right','font-size':'14px','white-space':'normal'}">
                            </p-column>

                            <p-column header="Еденицы измерения" field="id_edizm" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-nomen="rowData" pTemplate="body">
                                    <span>{{getEdizmName(nomen[col.field])}}</span>
                                </template>
                            </p-column>

                            <p-column header="Номенклатура актуальна" field="actual" [style]="
                                {'width':'30%','text-align':'right','font-size':'14px','white-space':'normal'}">
                                <template let-col let-nomen="rowData" pTemplate="body">
                                    <span>{{getParName(nomen[col.field])}}</span>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                </p-tabView>

                <p-dialog header={{headerDolgn}} [(visible)]="displayDialogDolgn" [responsive]="true" showEffect="fade" [modal]="true"
                    [style]="{'min-width':'600','max-height':'800','overflowY':'scroll'}">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="curDolgn">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Название должности</label></div>
                            <div class="ui-grid-col-8"><input pInputText [(ngModel)]="curDolgn.name_dolgn" /></div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Интерфейс в программе</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'150'}" [options]="optionsRoles" [(ngModel)]="curDolgn.id_role"></p-dropdown>
                            </div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Должность актуальна</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsYesNo" [(ngModel)]="curDolgn.actual"></p-dropdown>
                            </div>
                        </div>
                        <br><br><br><br><br><br>
                    </div>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-check" (click)="saveDolgn()" label="Сохранить"></button>
                        </div>
                    </footer>
                </p-dialog>

                <p-dialog header={{headerSotr}} [(visible)]="displayDialogSotr" [responsive]="true" showEffect="fade" [modal]="true"
                    [style]="{'min-width':'600','max-height':'800','overflowY':'scroll'}">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="curSotr">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>ФИО сотрудника</label></div>
                            <div class="ui-grid-col-8"><input pInputText [(ngModel)]="curSotr.name_sotr" /></div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Дата рождения</label></div>
                            <p-calendar id="birth" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2020" dateFormat="dd.mm.yy" [(ngModel)]="curSotr.birth"
                                [locale]="ru">
                            </p-calendar>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Номер телефона</label></div>
                            <div class="ui-grid-col-8"><input pInputText [(ngModel)]="curSotr.phone" /></div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Должность сотрудника</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'200'}" [options]="optionsDolgn" [(ngModel)]="curSotr.id_dolgn"></p-dropdown>
                            </div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Статус сотрудника</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsWorkFire" [(ngModel)]="curSotr.status"></p-dropdown>
                            </div>
                        </div>
                        <br><br><br><br><br><br>
                    </div>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-check" (click)="saveSotr()" label="Сохранить"></button>
                        </div>
                    </footer>
                </p-dialog>

                <p-dialog header={{headerSkl}} [(visible)]="displayDialogSkl" [responsive]="true" showEffect="fade" [modal]="true"
                    [style]="{'min-width':'600','max-height':'800','overflowY':'scroll'}">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="curSkl">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Название склада</label></div>
                            <div class="ui-grid-col-8"><input pInputText [(ngModel)]="curSkl.name_skl" /></div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Склад актуален</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsYesNo" [(ngModel)]="curSkl.actual"></p-dropdown>
                            </div>
                        </div>
                        <br><br><br><br><br><br>
                    </div>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-check" (click)="saveSkl()" label="Сохранить"></button>
                        </div>
                    </footer>
                </p-dialog>

                <p-dialog header={{headerOper}} [(visible)]="displayDialogOper" [responsive]="true" showEffect="fade" [modal]="true"
                    [style]="{'min-width':'600','max-height':'800','overflowY':'scroll'}">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="curOper">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Название операции</label></div>
                            <div class="ui-grid-col-8"><input pInputText [(ngModel)]="curOper.name_oper" /></div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Требуется контроль качества</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsYesNo" [(ngModel)]="curOper.need_kk"></p-dropdown>
                            </div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Операция актуальна</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsYesNo" [(ngModel)]="curOper.actual"></p-dropdown>
                            </div>
                        </div>

                        <br><br><br><br><br><br>
                    </div>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-check" (click)="saveOper()" label="Сохранить"></button>
                        </div>
                    </footer>
                </p-dialog>

                <p-dialog header={{headerEdizm}} [(visible)]="displayDialogEdizm" [responsive]="true" showEffect="fade" [modal]="true"
                    [style]="{'min-width':'600','max-height':'800','overflowY':'scroll'}">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="curEdizm">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Название еденицы измерения</label></div>
                            <div class="ui-grid-col-8"><input pInputText [(ngModel)]="curEdizm.name_edizm" /></div>
                        </div>
                        <br>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Еденица измерения актуальна</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsYesNo" [(ngModel)]="curEdizm.actual"></p-dropdown>
                            </div>
                        </div>

                        <br><br><br><br><br><br>
                    </div>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-check" (click)="saveEdizm()" label="Сохранить"></button>
                        </div>
                    </footer>
                </p-dialog>

                <p-dialog header={{headerNomen}} [(visible)]="displayDialogNomen" [responsive]="true" showEffect="fade" [modal]="true"
                    [style]="{'min-width':'600','max-height':'800','overflowY':'scroll'}">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="curNomen">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Наименование номенклатуры</label></div>
                            <div class="ui-grid-col-8"><input pInputText [(ngModel)]="curNomen.name_nomen" /></div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Еденицы измерения</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsEdizm" [(ngModel)]="curNomen.id_edizm"></p-dropdown>
                            </div>
                        </div>
                        <br>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label>Номенклатура актуальна</label></div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [style]="{'min-width':'70'}" [options]="optionsYesNo" [(ngModel)]="curNomen.actual"></p-dropdown>
                            </div>
                        </div>

                        <br><br><br><br><br><br>
                    </div>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-check" (click)="saveNomen()" label="Сохранить"></button>
                        </div>
                    </footer>
                </p-dialog>

            </p-panel>
        </div>
    </div>
</div>

<p-growl [value]="msgs" [life]="10000"></p-growl>
<p-blockUI [blocked]="blockedDocument"></p-blockUI>